.canvas_box {
  position: relative;
  height: 100%;
  width: calc(100% - 340px - 60px); /* 임시 width */

  canvas {
    display: block;
    width: 100%;
    height: 100%;
    border: 0.1rem solid #d8d8d8;
    border-radius: 2.4rem;
  }
  .toggle_btn {
    position: absolute;
    width: 5.8rem;
    left: 50%;
    transform: translateX(-50%);
    top: 9.9rem;
    height: 1.4rem;
    background: url('../../../assets/images/icons/icon_drop_up.png') no-repeat
      center / 0.8rem #fff;
    border-radius: 0 0 0.3rem 0.3rem;
    border: 0.1rem solid #d8d8d8;
    border-top: 0;
    transition: all 0.6s;
    &.none {
      top: 0;
      background-image: url('../../../assets/images/icons/icon_drop.png');
    }
  }
  .cntroll_box {
    height: 9.9rem;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    overflow: hidden;

    background-color: #fff;
    border-radius: 0 0 0.8rem 0.8rem;
    border: 0.1rem solid #d8d8d8;
    transition: all 0.6s;

    &.none {
      height: 0;
      border: 0;
    }

    .canvas_tool {
      display: flex;
      align-items: center;
      padding: 1rem 2rem;

      &.bottom {
        background-color: #f2f2f2;
        border-radius: 0 0 0.8rem 0.8rem;
      }

      .color_picker {
        li {
          display: inline-block;
          margin: 0.35rem;
          width: 1.6rem;
          height: 1.6rem;
          border-radius: 50%;
          cursor: pointer;
        }
      }
      .division {
        position: relative;
        padding-right: 1rem;
        margin-right: 1rem;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          display: inline-block;
          width: 0.1rem;
          height: 1.4rem;
          background-color: rgba(0, 0, 0, 0.09);
        }
      }

      input[type='color'] {
        width: 2.8rem;
        height: 2.4rem;
      }
      .tool_btn > svg {
        width: 2.6rem;
        height: 2.6rem;
      }

      .range_box {
        input[type='range'] {
          -webkit-appearance: none;
          width: 10rem;
          height: 0.6rem;
          background: linear-gradient(
            to right,
            #333333 0%,
            #333333 50%,
            rgb(213, 212, 211) 50%,
            rgb(213, 212, 211) 100%
          );
          cursor: pointer;
          border-radius: 0.4rem;
          transition: background 450ms ease-in;
        }
        input[type='range']:focus {
          outline: none;
        }
        input[type='range']::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 1.8rem;
          height: 1.8rem;
          background: #fff;
          border: 0.1rem solid #333;
          border-radius: 100%;
          cursor: pointer;
        }
      }
    }
  }
}
