.canvas_box {
  position: relative;
  height: 100%;

  canvas {
    display: block;
    width: 686px;
    height: 100%;
    border: 1px solid #d8d8d8;
    border-radius: 24px;
  }
  .toggle_btn {
    position: absolute;
    width: 58px;
    left: 50%;
    transform: translateX(-50%);
    top: 99px;
    height: 14px;
    background: url('../../../assets/images/icons/icon_drop_up.png') no-repeat
      center / 8px #fff;
    border-radius: 0 0 3px 3px;
    border: 1px solid #d8d8d8;
    border-top: 0;
    transition: all 0.6s;
    &.none {
      top: 0;
      background-image: url('../../../assets/images/icons/icon_drop.png');
    }
  }
  .cntroll_box {
    height: 99px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    overflow: hidden;

    background-color: #fff;
    border-radius: 0 0 8px 8px;
    border: 1px solid #d8d8d8;
    transition: all 0.6s;

    &.none {
      height: 0;
      border: 0;
    }

    .canvas_tool {
      display: flex;
      align-items: center;
      padding: 10px 20px;

      &.bottom {
        background-color: #f2f2f2;
        border-radius: 0 0 8px 8px;
      }

      .color_picker {
        li {
          display: inline-block;
          margin: 3.5px;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          cursor: pointer;
        }
      }
      .division {
        position: relative;
        padding-right: 10px;
        margin-right: 10px;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          display: inline-block;
          width: 1px;
          height: 14px;
          background-color: rgba(0, 0, 0, 0.09);
        }
      }

      input[type='color'] {
        width: 28px;
        height: 24px;
      }
      .tool_btn > svg {
        width: 26px;
        height: 26px;
      }

      .range_box {
        input[type='range'] {
          -webkit-appearance: none;
          width: 100px;
          height: 6px;
          background: linear-gradient(
            to right,
            #333333 0%,
            #333333 50%,
            rgb(213, 212, 211) 50%,
            rgb(213, 212, 211) 100%
          );
          cursor: pointer;
          border-radius: 4px;
          transition: background 450ms ease-in;
        }
        input[type='range']:focus {
          outline: none;
        }
        input[type='range']::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 18px;
          height: 18px;
          background: #fff;
          border: 1px solid #333;
          border-radius: 100%;
          cursor: pointer;
        }
      }
    }
  }
}
