.home {
  height: 100vh;
  min-height: 440px;
  background: #f4f5f7 url('../../../assets/images/bg@2x.png') no-repeat center
    top / 100%;
  color: #212121;
  font-family: 'Open Sans', sans-serif;
  // display: grid;
  // place-items: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.join_chat_container {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  position: relative;
  background-color: #fff;
  width: 400px;
  height: 400px;
  padding: 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 24px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: -100px;
    width: 100px;
    height: 100px;
    background: url('../../../assets/images/img_participants.png') no-repeat
      center;
  }

  h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  input[type='text'] {
    width: 100%;
    height: 50px;
    margin: 10px;
    // border: 2px solid #43a047;
    border-radius: 5px;
  }
  button {
    width: 100%;
    height: 50px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    background: #242e47;
    color: #fff;
    cursor: pointer;
    border-radius: 28px;
  }
  button:hover {
    background: #242e47e5;
  }
}

.game_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;

  strong {
    display: inline-block;
    padding: 0 50px;
    height: 68px;
    line-height: 68px;
    margin-bottom: 24px;
    font-size: 32px;
    border-radius: 32px;
    color: #fff;
    background-color: #3b80ff;
  }

  .participants {
    padding: 16px 0;
    margin-bottom: 24px;
    width: 100%;
    background-color: rgba($color: #ffffff, $alpha: 0.3);
    border-radius: 24px;
    ul {
      display: flex;
      justify-content: center;
      gap: 30px;
      li {
        text-align: center;
        .profile {
          position: relative;
          img {
            box-shadow: 4px 4px 12px rgb(0, 15, 56, 0.2);
            border-radius: 50%;
          }
          em {
            position: absolute;
            bottom: 0;
            right: -4px;
            display: inline-block;
            text-align: center;
            width: 22px;
            height: 22px;
            line-height: 22px;
            border-radius: 50%;
            background-color: #679dff;
            color: #fff;
            font-weight: bold;
            font-size: 12px;
          }
        }
        p {
          padding-top: 4px;
          font-weight: 700;
          font-size: 12px;
        }
      }
    }
  }

  .game_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 580px;
    padding: 56px;
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 4px 4px 16px rgba(0, 15, 56, 0.1);
  }
}
