.home {
  width: 100vw;
  height: 100vh;
  background: #f4f5f7 url('../../../assets/images/bg@2x.png') no-repeat center
    top / 100%;
  color: #212121;
  font-family: 'Open Sans', sans-serif;
  display: grid;
  place-items: center;
}

.join_chat_container {
  position: relative;
  background-color: #fff;
  width: 400px;
  height: 400px;
  padding: 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 24px;
}
.join_chat_container::before {
  content: '';
  position: absolute;
  left: 0;
  top: -100px;
  width: 100px;
  height: 100px;
  background: url('../../../assets/images/img_participants.png') no-repeat
    center;
}

.join_chat_container h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.join_chat_container input[type='text'] {
  width: 100%;
  height: 50px;
  margin: 10px;
  // border: 2px solid #43a047;
  border-radius: 5px;
}

.join_chat_container button {
  width: 100%;
  height: 50px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #242e47;
  color: #fff;
  cursor: pointer;
  border-radius: 28px;
}

.join_chat_container button:hover {
  background: #242e47e5;
}

.game_box {
  display: flex;
  width: 1400px;
  margin: 0 auto;
  height: 628px;
  padding: 56px;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 4px 4px 16px rgba(0, 15, 56, 0.1);
}
.chat_window {
  width: 300px;
  height: 420px;
}

.chat_window p {
  margin: 0;
}
.chat_window .chat_header {
  height: 45px;
  border-radius: 6px;
  background: #263238;
  position: relative;
  cursor: pointer;
}
.chat_window .chat_header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat_window .chat_body {
  height: calc(450px - (45px + 70px));
  border: 1px solid #263238;
  background: #fff;

  position: relative;
}
.chat_window .chat_body .message_container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat_window .chat_body .message_container::-webkit-scrollbar {
  display: none;
}
.chat_window .chat_body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat_window .chat_body .message .message_content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-end;
}

#you .message_content {
  justify-content: flex-end;
}

#you .message_meta {
  justify-content: flex-end;
  margin-left: 5px;
}

#other {
  justify-content: flex-start;
}

#other .message_content {
  justify-content: flex-start;
  background-color: cornflowerblue;
}

#other .message_meta {
  justify-content: flex-start;
  margin-right: 5px;
}

.message_meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat_window .chat_body .message .message_meta {
  display: flex;
  font-size: 12px;
}

.chat_window .chat_footer {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}

.chat_window .chat_footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;

  outline: none;
  font-family: 'Open Sans', sans-serif;
}

.chat_window .chat_footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat_window .chat_footer button:hover {
  color: #43a047;
}
.hide {
  opacity: 0 !important;
}
